header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
}
.block{
  border:4px double black;
  width: fit-content;
  margin: auto;
  padding: 5px;
}
.divider{
  border:2px solid black;
  margin-top: 5px;
  margin: auto;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: black;
}
footer{
  margin: auto;
  text-align:center;
  padding: 5px;
}
p{
  font-weight: bolder;
  font-size: xx-large;
}
.input-group-addon{
  background-color: black;
  color: white;
}